#board {
  max-width: 600px;
  padding: 5px
}

.card {
  padding: 5px;
  margin: 2px;
  border-width: 2px;
  border-color: rgb(27, 61, 10);
  border-radius: 12px;
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 50px;
}
body{
  background-image: url(../public/Cards/Background.jpg);
}
#status{
  font-size: xx-large;
  color:rgb(0, 0, 0);
}
